/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nf-core/evaluation_summary base config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

process {

    // Set default profile to conda
    profile = "conda"
    executor = 'slurm'
    clusterOptions = '-C thrd64 --cpus-per-task=10'

    withLabel:process_single {
        cpus   = 1
        memory = 6.GB
        time   = 4.h
    }
    withLabel:process_low {
        cpus   = 2
        memory = 12.GB
        time   = 4.h
    }
    withLabel:process_medium {
        cpus   = 6
        memory = 36.GB
        time   = 8.h
    }
    withLabel:process_high {
        cpus   = 12
        memory = 72.GB
        time   = 16.h
    }
}

executor {
    queueSize = 90
}
