/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {

    withName: 'ADD_PARAMS' {
        publishDir = [
            path: { "${params.outdir}/params_added" },
            mode: 'copy'
        ]
            conda = '/home/rschwartz/anaconda3/envs/scanpyenv'
    }

    withName: 'AGGREGATE_RESULTS' {
        publishDir = [
            [
                path: { "${params.outdir}/aggregated_results/figs" },
                mode: 'copy',
                pattern: "**png"
            ],
            [
                path: { "${params.outdir}/aggregated_results/files" },
                mode: 'copy',
                pattern: "**tsv"
            ]
        ]
            conda = '/home/rschwartz/anaconda3/envs/scanpyenv'
    }

    withName: 'JOIN_METADATA' {
        publishDir = [
            path: { "${params.outdir}/aggregated_results/files" },
            mode: 'copy'
        ]
            conda = '/home/rschwartz/anaconda3/envs/scanpyenv'
    }

    withName: 'PLOT_CUTOFF' {
        publishDir = [
            path: { "${params.outdir}/cutoff_plots" },
            mode: 'copy'
        ]
            conda = '/home/rschwartz/anaconda3/envs/scanpyenv'
    }

    withName: 'PLOT_COMPTIME' {
        publishDir = [
            path: { "${params.outdir}/comptime_plots" },
            mode: 'copy'
        ]
            conda = '/home/rschwartz/anaconda3/envs/r4.3'
    }

    withName: 'PLOT_F1_DISTRIBUTIONS' {
        publishDir = [
            path: { "${params.outdir}/f1_distributions" },
            mode: 'copy'
        ]
            conda = '/home/rschwartz/anaconda3/envs/scanpyenv'
    }

    withName: 'PLOT_LABEL_DIST' {
        publishDir = [
            path: { "${params.outdir}/label_dists" },
            mode: 'copy'
        ]
            conda = '/home/rschwartz/anaconda3/envs/scanpyenv'
    }

    withName: 'MODEL_EVAL_AGGREGATED' {
        publishDir = [
            path: { "${params.outdir}/aggregated_models" },
            mode: 'copy'
        ]
            conda = '/home/rschwartz/anaconda3/envs/r4.3'
    }

    withName: 'PLOT_LABEL_HEATMAP' {
        publishDir = [
            path: { "${params.outdir}/label_heatmaps/subsample_ref_${params.subsample_ref}/cutoff_${params.cutoff}" },
            mode: 'copy'
        ]
            conda = '/home/rschwartz/anaconda3/envs/scanpyenv'
    }

    withName: 'PLOT_LABEL_FOREST' {
        publishDir = [
            path: { "${params.outdir}/label_forest_plots/subsample_ref_${params.subsample_ref}/cutoff_${params.cutoff}" },
            mode: 'copy'
        ]
            conda = '/home/rschwartz/anaconda3/envs/scanpyenv'
    }

    withName: 'RANK_LABEL_PERFORMANCE' {
        publishDir = [
            path: { "${params.outdir}/celltype_rankings" },
            mode: 'copy'
        ]
            conda = '/home/rschwartz/anaconda3/envs/scanpyenv'
    }

    withName: 'PLOT_PARAM_HEATMAP' {
        publishDir = [
            path: { "${params.outdir}/celltype_rankings" },
            mode: 'copy'
        ]
            conda = '/home/rschwartz/anaconda3/envs/scanpyenv'
    }

    withName: 'PLOT_RANKING_SUMMARY' {
        publishDir = [
            path: { "${params.outdir}/celltype_rankings" },
            mode: 'copy'
        ]
            conda = '/home/rschwartz/anaconda3/envs/scanpyenv'
    }

    withName: 'PLOT_CONFIG_PARETO' {
        publishDir = [
            path: { "${params.outdir}/celltype_rankings" },
            mode: 'copy'
        ]
            conda = '/home/rschwartz/anaconda3/envs/r4.3'
    }

    withName: 'PLOT_RANKING_RELIABILITY' {
        publishDir = [
            path: { "${params.outdir}/celltype_rankings" },
            mode: 'copy'
        ]
            conda = '/home/rschwartz/anaconda3/envs/scanpyenv'
    }

    withName: 'GET_GRANT_SUMMARY' {
        publishDir = [
            path: { "${params.outdir}/grant_summary" },
            mode: 'copy'
        ]
            conda = '/home/rschwartz/anaconda3/envs/scanpyenv'
    }

    withName: 'PLOT_CELLTYPE_GRANULARITY' {
        publishDir = [
            path: { "${params.outdir}/post-hoc-figures" },
            mode: 'copy'
        ]
            conda = '/home/rschwartz/anaconda3/envs/scanpyenv'
    }
    withName: 'MODEL_ASSAY_EFFECTS' {
        publishDir = [
            path: { "${params.outdir}/assay_exploration" },
            mode: 'copy'
        ]
            conda = '/home/rschwartz/anaconda3/envs/r4.3'
    }

    withName: 'PLOT_ASSAY_EXPLORATION' {
        publishDir = [
            path: { "${params.outdir}/assay_exploration" },
            mode: 'copy'
        ]
            conda = '/home/rschwartz/anaconda3/envs/r4.3'
    }

    withName: 'PLOT_PUB_FIGURES' {
        publishDir = [
            path: { "${params.outdir}/post-hoc-figures" },
            mode: 'copy'
        ]
            conda = '/home/rschwartz/anaconda3/envs/scanpyenv'
    }
}