/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {

    withName: 'ADD_PARAMS' {
        publishDir = [
            path: { "${params.outdir}/params_added" },
            mode: 'copy'
        ]
            conda = '/home/rschwartz/anaconda3/envs/scanpyenv'
    }

    withName: 'AGGREGATE_RESULTS' {
        publishDir = [
            [
                path: { "${params.outdir}/aggregated_results/figs" },
                mode: 'copy',
                pattern: "**png"
            ],
            [
                path: { "${params.outdir}/aggregated_results/files" },
                mode: 'copy',
                pattern: "**tsv"
            ]
        ]
            conda = '/home/rschwartz/anaconda3/envs/scanpyenv'
    }

    withName: 'PLOT_CUTOFF' {
        publishDir = [
            path: { "${params.outdir}/cutoff_plots" },
            mode: 'copy'
        ]
            conda = '/home/rschwartz/anaconda3/envs/scanpyenv'
    }

    withName: 'PLOT_COMPTIME' {
        publishDir = [
            path: { "${params.outdir}/comptime_plots" },
            mode: 'copy'
        ]
            conda = '/home/rschwartz/anaconda3/envs/scanpyenv'
    }

    withName: 'PLOT_LABEL_DIST' {
        publishDir = [
            path: { "${params.outdir}/label_dists" },
            mode: 'copy'
        ]
            conda = '/home/rschwartz/anaconda3/envs/scanpyenv'
    }

    withName: 'MODEL_EVAL_WEIGHTED' {
        publishDir = [
            path: { "${params.outdir}/weighted_models" },
            mode: 'copy'
        ]
            conda = '/home/rschwartz/anaconda3/envs/r4.3'
    }

    withName: 'SPLIT_BY_LABEL' {
        publishDir = [
            path: { "${params.outdir}/label_models" },
            mode: 'copy'
        ]
            conda = '/home/rschwartz/anaconda3/envs/scanpyenv'
    }

    withName: 'MODEL_EVAL_LABEL' {
        publishDir = [
            path: { "${params.outdir}/label_models/" },
            mode: 'copy'
        ]
            conda = '/home/rschwartz/anaconda3/envs/r4.3'
    }

    withName: 'PLOT_LABEL_FIGURES' {
        publishDir = [
            path: { "${params.outdir}/pub_figures" },
            mode: 'copy'
        ]
            conda = '/home/rschwartz/anaconda3/envs/scanpyenv'
    }

    withName: 'GET_GRANT_SUMMARY' {
        publishDir = [
            path: { "${params.outdir}/grant_summary" },
            mode: 'copy'
        ]
            conda = '/home/rschwartz/anaconda3/envs/scanpyenv'
    }

    withName: 'PLOT_CELLTYPE_GRANULARITY' {
        publishDir = [
            path: { "${params.outdir}/summary_figures/celltype_granularity" },
            mode: 'copy'
        ]
            conda = '/home/rschwartz/anaconda3/envs/scanpyenv'
    }
    withName: 'PLOT_PUB_FIGURES' {
        publishDir = [
            path: { "${params.outdir}/pub_figures" },
            mode: 'copy'
        ]
            conda = '/home/rschwartz/anaconda3/envs/scanpyenv'
    }
}